/* Eric Myers Reset
---------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

ol, ul {
	list-style: none;
}

/*----------------------------------*/

a:link, a:visited, a:hover { color: #4DA400; text-decoration: none; }

/* Float Container */
.flc { clear:both; }
.flc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* IE6 work-around \*/
* html .flc { height: 1%; }

/* IE7 work-around */
html > body .flc { height: auto; max-height: 120000px; }

body { 
	font: 14px/18px Helvetica, Arial, "Helvetica Neue", sans-serif;
	background: #FFFFFF; 
}

.fr { float: right;  display; inline; }
.catalog { background: none repeat scroll 0 0 #FFFFFF; border: 2px dotted #437EA1; border-radius: 4px 4px 4px 4px;
	   color: #437EA1; margin: 30px ; padding: 7px 4px; border-width: 1px;}
	.catalog .header { font-size: 18px; line-height:24px; color:#4DA400;}
	.catalog .author { font-size: 11px; color: #888; }
	.catalog .description {line-height: 18px; }
	
.classpage{ background: none repeat scroll 0 0 #FFFFFF; border: 2px solid #1E1E1E; border-radius:10px; margin: 30px; padding: 15px; color: #1E1E1E; height: 350px;}
	.classpage .header{ font-size: 50px; line-height: 60px; font-weight: bold; color: #4DA400;}
	.classpage .author{ font-size: 25px; line-height: 30px; font-style: italic;}
	.classpage .description{ border: 2px dotted #1E1E1E; border-radius: 5px; padding: 5px 5px 30px ;  font-size: 15px; }
	.classpage .list{}
	.classpage .list li { font-size: 15px;}
	
.frame { width: 960px; margin: 0 auto;  background: #FFF; padding: 10px; overflow: hidden;}
.grid { margin: auto 10px; }

#container { width: 980px; margin: 0 auto; background: #FFF; }

#login { width: auto; height: 35px; background: #437EA1; border-bottom: 1px solid #000; position: relative; z-index: 100;}
	#login #loginBar { background: #437EA1; border: none; line-height: 35px; text-align: right; }
	#login #loginBar .list li input { color: #AAA; padding: 5px; border: none;
		-moz-border-radius: 3px; }
	#login #loginBar .list {}
	#login #loginBar .list li { color: #FFF; float: right; padding: 0 5px; }
	#login #loginBar .list li a { display: block; color: #FFF; }
	#login #loginBar .list li a:hover { text-decoration: underline; }
	
#test { border-bottom: 1px solid #FFF; position: relative; }

#header { height: 75px; margin-top: 20px; border-top: 0; }
	#header .title {}
	
.header { font-size: 28px;  letter-spacing: -1px; line-height: 36px; color: #444; padding-bottom: 5px; margin-bottom: 20px; border-bottom: 1px solid #ccc;  }

.module { margin-bottom: 20px; }

#nav ul { margin-bottom: 20px; width: 980px; }
	#nav .list {height: 35px; ; border: 1px solid #1E1E1E; background: url('../images/nav_bg.png'); }
	#nav .list li { line-height: 35px; float: left; }
	#nav .list li.search { float: right; margin-right: 15px; }
	#nav .list li input { padding: 3px 5px; color: #BBB; width: 200px;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	#nav .list li a { background: url('../images/nav.png'); background-position: 0 0; color: #F4F4F4; display: block; letter-spacing: 0.3px; line-height: 35px; text-align: center; text-shadow: 0 1px 0 #252525; width: 118px; }
	#nav .list li a:hover { background-position: 0 -35px; }
	#nav .list li a:active { background-position: 0 -70px; }
	
#wrapper { height: auto; padding: 10px; background: url('../images/content-bg.png'); margin-bottom: 20px; border-bottom: 1px solid #DDD; }

#mainColumn { width: 595px; height: auto; background: #FFF; padding: 20px; float: left; border: 1px solid #DDD; margin-right: 20px; }	#mainColumn .classDescription { padding: 20px 10px; border-bottom: 1px dotted #CCC;}
	
#secondaryColumn { width: 260px; height: 500px; padding: 20px; background: #FFF; float: left; border: 1px solid #DDD; }
	#secondaryColumn .list { margin-top: -20px; }
	#secondaryColumn .list li a { padding-left: 10px; display: block; font-size: 12px; line-height: 30px; border-bottom: 1px dotted #CCC; }
	#secondaryColumn .list li a:hover { background: #F0F0F0; }
	
.oneColumn {  width: 915px; height: auto; background: #FFF; padding: 20px; float: left; border: 1px solid #DDD; overflow: hidden;}
		.oneColumn .header { width: 920px; }
		.oneColumn .classDescription { width: 430px; height: 125px; float: left; margin: 0 20px 0 0;}
		
.classDescription { border-bottom: 1px dotted #DDD; padding: 20px 10px; }
	.classDescription:hover { cursor: pointer; background: #F0F0F0; }
	.classDescription .imageContainer { float: left; margin-right: 20px; }
	.classDescription .image { width: 100px; height: 100px; }
	.classDescription .title { font-size: 22px; line-height: 24px; color: #4DA400; }
	.classDescription .smallPrint { font-size: 11px; line-height: 18px; color: #888; }
	.classDescription .smallPrint span { font-weight: bold; color: #777;}
	.classDescription .description { font-size: 14px; line-height: 18px; color: #555; }

 	.smallPrint { font-size: 11px; line-height: 18px; color: #888; }
 	.smallPrint span { font-weight: bold; color: #777; }
		
#footer { height: 150px; border: 1px solid #DDD; margin-bottom: 20px; }

.classContainer { width: 1000px; overflow: hidden; }

#wrapper, #mainColumn, #secondaryColumn, #nav .list, #footer, .oneColumn {
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}











.button {
	background: #90ee90; /* Old browsers */
	background: -moz-linear-gradient(top, #90ee90 0%, #4da400 100%, #4da400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90ee90), color-stop(100%,#4da400), color-stop(100%,#4da400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* IE10+ */
	background: linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#4da400',GradientType=0 );
    border: 1px solid #4DA400;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 20px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 5px;
    padding: 12px 20px;
}

.buttonSmall {
	background: -moz-linear-gradient(top, #90ee90 0%, #4da400 100%, #4da400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90ee90), color-stop(100%,#4da400), color-stop(100%,#4da400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* IE10+ */
	background: linear-gradient(top, #90ee90 0%,#4da400 100%,#4da400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#4da400',GradientType=0 );
    border: 1px solid #4DA400;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 15px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    margin-bottom: 5px;
    padding: 6px 15px;
}

.button:hover, .buttonInput:hover, .buttonSmall:hover {
    background: none repeat scroll 0 0 #4DA400;
    box-shadow: 0 20px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
    top: 1px;
}
















