/* Eric Myers Reset
---------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

ol, ul {
	list-style: none;
}

/*----------------------------------*/

a:link, a:visited, a:hover { color: #437EA1; text-decoration: none; }

/* Float Container */
.flc { clear:both; }
.flc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* IE6 work-around \*/
* html .flc { height: 1%; }

/* IE7 work-around */
html > body .flc { height: auto; max-height: 120000px; }

body { 
	font: 12px/14px Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #F2F2F2; 
}

.catalog { background: none repeat scroll 0 0 #FFFFFF; border: 2px dotted #437EA1; border-radius: 4px 4px 4px 4px;
	   color: #437EA1; margin: 30px ; padding: 7px 4px; border-width: 1px;}
	.catalog .header { font-size: 18px; line-height:24px; }
	.catalog .author { font-size: 11px; color: #888; }
	.catalog .description {line-height: 18px; }
	
.classpage{ background: none repeat scroll 0 0 #FFFFFF; border: 2px solid #437EA1; margin: 30px; padding: 15px; color: #437EA1; height: auto;}
	.classpage .header{ font-size: 50px; line-height: 60px; font-weight: bold;}
	.classpage .author{ font-size: 25px; line-height: 30px; font-style: italic;}
	.classpage .description{ padding: 5px;  font-size: 15px; }
	.classpage .list{}
	.classpage .list li { font-size: 15px; font-weight: bold;}
	
.frame { width: 960px; margin: 0 auto;  background: #FFF; }

#container { width: 960px; margin: 0 auto; background: #FFF;
	-moz-box-shadow: 0 0 5px #333; -webkit-box-shadow: 0 0 5px #333; box-shadow: 0 0 5px #333; }

#login { width: auto; height: 35px; background: #437EA1; border-bottom: 1px solid #000; position: relative; z-index: 100;}
	#login #loginBar { background: #437EA1; border: none; line-height: 35px; text-align: right; }
	#login #loginBar .list li input { color: #AAA; padding: 5px; border: none;
		-moz-border-radius: 3px; }
	#login #loginBar .list {}
	#login #loginBar .list li { color: #FFF; float: right; padding: 0 5px; }
	#login #loginBar .list li a { display: block; color: #FFF; }
	#login #loginBar .list li a:hover { text-decoration: underline; }
	
#test { border-bottom: 1px solid #FFF; position: relative; }

#header { height: 100px; border-top: 0; }
	#header .title { font: 48px/100px "Arial Black"; padding-left: 20px; }

#nav { height: 40px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; font-size: 13px; font-weight: bold; margin-bottom: 20px;}
	#nav .list {}
	#nav .list li { line-height: 40px; float: left; border-right: 1px solid #DDD; }
	#nav .list li a { padding: 0 25px; display: block; }

#wrapper { height: 500px; }


#footer {  height: 150px; border-top: 1px solid #DDD;}




















